.galleryWrapper {
	margin: 25px auto;
	padding: 10px 25px;
	columns: 4 300px;
	column-gap: 25px;
	text-align: center;
}
.galleryWrapper a {
	font-size: 0;
}
.galleryWrapper img {
	margin-bottom: 25px;
	opacity: 1;
}

.galleryWrapper img:hover {
	opacity: 0.8;
	transition: opacity 0.3s;
}
